<%- include('../partials/head', {title: "Andrew's Workshop"}) %>
<link rel="stylesheet" href="./css/homepage.css">
<body>
  <header>
    <h1>Welcome to Andrew's Workshop!</h1>
  </header>
  <ul>
    <div>
      <% for (let i = 1; i <= 5; i++) { %>
        <li><a href=<%= `question${i}` %>><%= `Question ${i}` %></a></li>
      <% } %>
    </div>
    <div>
      <% for (let i = 6; i <= 10; i++) { %>
        <li><a href=<%= `question${i}` %>><%= `Question ${i}` %></a></li>
      <% } %>
    </div>
  </ul>
</body>
