<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <img src=<%= homer.imageUrl %>></img>
        <ul>
          <li>Name: <%= homer.name %></li>
          <li>Date of Birth: <%= homer.dob %></li>
          <li>Profession: <%= homer.profession %></li>
          <li>Favorite Food: <%= homer.favoriteFood %></li>
          <li>Favorite Beverage <%= homer.favoriteBeverage %></li>
        </ul>
      </div>
    </div>
    <a href="question2">Previous</a>
    <a href="question4">Next</a>
  </div>
</body>
