<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <ul>
          <% popularGirlNames.forEach(name => { %>
            <li><%= name %></li>
          <% }); %>
        </ul>
      </div>
    </div>
    <%- include('../partials/pagination', {previous: 3, next: 5}) %>
  </div>
</body>
