<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <ol>
          <% popularGirlNames.forEach((name, index) => { %>
            <li><%= `${index + 1}. ${name}` %></li>
          <% }); %>
        </ol>
      </div>
    </div>
    <%- include('../partials/pagination', {previous: 4, next: 6}) %>
  </div>
</body>
